.navigation-link {
    // margin: auto 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.navigation-span {
    padding: 10px;
}

.navigation-link:hover {cursor: pointer;}
.navigation-span:hover {cursor: pointer;}
