@import '../public/styles/forms.scss';
@import '../public/styles/nav.scss';
@import '../public/styles/thoughts.scss';

#root {
  width: 100vw;
  height: 100vh;
  cursor: default;
}
#app {
  width: 80%;
  margin: auto;
}

.visuallyhidden {
  display: none;
}

.spacer {
  width: 0.5em;
}

.clickable {
  cursor: pointer;
}

.movement {
  transition: font-size 500ms linear 1s;
}

.movement:hover {
    font-size: 1.5em;
}